<h1></h1>

<div class="jumbotron jumbotron-fluid col-lg-6 mx-auto">
  <div class="container">
    <h1 class="display-4">User Login</h1>
  </div>
</div>

<div class="col-sm-4 mx-auto mb-5">
  <a href="/user/auth/google" class="btn btn-danger btn-lg btn-block">Log In with Google</a>
</div>

<div id="login-section">
  <form action="/user/create-session" method="post" class="card col-sm-4 mx-auto pt-3">

    <div class="form-group col mx-auto">
      <input
    type="email"
    name="email"
    id="user-name"
     placeholder="Enter Email"
     class="form-control"
     />
    </div>

    <div class="form-group col mx-auto">
      <input
      type="password"
      name="password"
      id="user-password"
      placeholder="Enter Password"
      class="form-control"
    />
    </div>


    <div class="form-group col mx-auto">
      <button type="submit" class="btn btn-primary col-sm-12 mx-auto">SignUp</button>

    </div>
  </form>
</div>
