<h1>User SignUp</h1>

<div id="login-section">
    <form action="/user/login" method="post">
        <input type="text" name="name" id="">
      <input type="email" name="email" id="user-name" />
      <input type="password" name="password" id="user-password" />
      <button type="submit">Log In</button>
    </form>
  </div>